<template>
  <div class="flex items-center w-full">
    <Sidebar @AddElem="addElement"></Sidebar>
    <main class="h-screen w-[60%] flex items-center justify-center bg-gray-300">
      <div>
        <div
          v-if="showJson"
          class="w-[600px] bg-gray-900 h-[80vh] p-5 rounded-lg overflow-y-auto"
        >
          <pre>
  <code class="text-green-500 text-xs">
            {{ formField }}
          </code>
</pre>
        </div>
        <div
          v-else
          id="droppable"
          class="w-[600px] bg-white min-h-[300px] p-5 rounded-lg"
          @drop="drop"
          @dragover="allowDrop"
        >
          <ul
            class="sortable-formbuilder flex items-center flex-wrap w-full"
            id="sortable-formbuilder-ul"
          >
            <li
              v-for="(field, i) in formField"
              :key="i"
              draggable="true"
              @dragstart="onDragging"
              :id="field.id"
              :class="
                field.Settings.filter((x) => x.Name === 'Column Span')[0]
                  .Value !== '1'
                  ? ' w-1/2 sortable-field'
                  : ' w-full sortable-field'
              "
              @click="activeField(field)"
            >
              <!-- {{ field.GetFieldSetting("Column Span").Value }} -->
              <div
                class="form-group"
                v-show="field.Type === 'text'"
                :class="field.Active ? 'active-field' : ''"
              >
                <input
                  type="text"
                  class="input-as-label"
                  v-model="field.Name"
                  @change="field.ChangeFieldSetting(field.Name, 'Field Label')"
                />
                <button
                  class="float-right absolute right-4 px-[6px] text-black font-semibold rounded-md border-black border-2"
                  @click="removeElement(i)"
                  v-if="field.Active"
                >
                  -
                </button>
                <span
                  v-show="field.Settings.filter((x) => x.Name === 'Required')"
                  class="text-red-600"
                  >*</span
                >

                <!--<label ng-if="!field.Active" for="{{field.Name.replace(' ','_') + field.id}}">{{field.Name}}<span ng-if="field.GetFieldSetting('Required')">*</span></label> -->

                <input
                  type="text"
                  class="form-control"
                  :id="field.Name.replace(' ', '_') + field.id"
                  :value="field.Value"
                  :placeholder="field.Name"
                />
              </div>
              <div
                class="form-group k"
                v-show="field.Type === 'date'"
                :class="field.Active ? 'active-field' : ''"
              >
                <input
                  type="text"
                  class="input-as-label"
                  v-model="field.Name"
                  @change="field.ChangeFieldSetting(field.Name, 'Field Label')"
                />
                <span
                  v-if="field.GetFieldSetting('Required').Value"
                  class="orange-txt"
                  >*</span
                >
                <button
                  class="float-right absolute right-4 px-[6px] text-black font-semibold rounded-md border-black border-2"
                  @click="removeElement(i)"
                  v-if="field.Active"
                >
                  -
                </button>
                <div class="has-feedback">
                  <input
                    type="text"
                    class="form-control"
                    :placeholder="field.Name"
                  />
                  <span
                    class="glyphicon glyphicon-calendar form-control-feedback custom-feedback"
                    aria-hidden="true"
                  ></span>
                  <span id="inputSuccess2Status" class="sr-only"
                    >(success)</span
                  >
                </div>
              </div>
              <div
                class="form-group"
                v-show="field.Type === 'dropdown'"
                :class="field.Active ? 'active-field' : ''"
              >
                <input
                  type="text"
                  class="input-as-label"
                  v-model="field.Name"
                  @change="field.ChangeFieldSetting(field.Name, 'Field Label')"
                />
                <span
                  v-if="field.GetFieldSetting('Required').Value"
                  class="orange-txt"
                  >*</span
                >
                <button
                  class="float-right absolute right-4 px-[6px] text-black font-semibold rounded-md border-black border-2"
                  @click="removeElement(i)"
                  v-if="field.Active"
                >
                  -
                </button>
                <select class="form-control">
                  <option
                    v-for="(val, i) in field.GetFieldSetting('Choice')
                      .PossibleValue"
                    :key="i"
                  >
                    {{ val.Text }}
                  </option>
                </select>
              </div>
              <div
                class="form-group"
                v-show="field.Type === 'textarea'"
                :class="field.Active ? 'active-field' : ''"
              >
                <input
                  type="text"
                  class="input-as-label"
                  v-model="field.Name"
                  @change="field.ChangeFieldSetting(field.Name, 'Field Label')"
                />
                <span
                  v-if="field.GetFieldSetting('Required').Value"
                  class="orange-txt"
                  >*</span
                >
                <button
                  class="float-right absolute right-4 px-[6px] text-black font-semibold rounded-md border-black border-2"
                  @click="removeElement(i)"
                  v-if="field.Active"
                >
                  -
                </button>
                <textarea
                  class="form-control"
                  :id="field.Name.replace(' ', '_') + field.id"
                  rows="4"
                ></textarea>
              </div>
            </li>
          </ul>
        </div>
        <div class="flex items-center gap-3 mt-8 float-right">
          <button
            @click="showJson = !showJson"
            class="p-4 w-32 bg-gray-800 text-lg text-white rounded-lg float-right"
          >
            {{ showJson ? "Show Form" : "Show Json" }}
          </button>
          <button
            @click="SaveForm"
            class="p-4 w-32 bg-gray-800 text-lg text-white rounded-lg"
          >
            Save
          </button>
        </div>
      </div>
    </main>
    <aside
      class="w-1/5 bg-gray-400 h-screen p-5 overflow-y-auto"
      id="draggable"
    >
      <h3 class="mt-8 text-2xl text-white">Settings</h3>
      <div class="elements mt-6">
        <div v-for="(set, i) in current_field.Settings" :key="i">
          <div>
            <div class="form-group" ng-switch-when="text">
              <label :for="set.Name.replace(' ', '_')">{{ set.Name }}</label>
              <input
                @change="current_field.ChangeFieldSetting(set.Value, set.Name)"
                type="text"
                v-model="set.Value"
                class="form-control"
                :id="set.Name.replace(' ', '_')"
                :placeholder="set.Name"
              />
            </div>

            <div class="form-group" v-show="set.Type == 'string'">
              <label>{{ set.Name }}</label>
              <br />
              <span>{{ set.Value }}</span>
            </div>

            <div class="form-group" v-show="set.Type == 'label'">
              <label class="pale">{{ set.Name }}</label>
            </div>

            <div class="form-group" v-show="set.Type == 'dropdown'">
              <label>{{ set.Name }}</label>
              <select class="form-control" v-model="set.Value">
                <option v-for="op in set.PossibleValue" :key="op">
                  {{ op }}
                </option>
              </select>
            </div>

            <div class="form-group" v-show="set.Type == 'radio'">
              <div v-for="val in set.PossibleValue" :key="val" class="radio">
                <label>
                  <input
                    type="radio"
                    name="optionsRadios"
                    :value="val.Checked"
                    :checked="val.Checked"
                  />
                  {{ val.Text }}
                </label>
              </div>
            </div>
            <div class="form-group" v-show="set.Type == 'dropdown_increment'">
              <label class="control-label"> Choices </label>
              <div
                v-for="val in set.PossibleValue"
                :key="val"
                class="radio form-control"
              >
                <i class="fa fa-sort fa-lg"> </i>
                &nbsp;
                <i class="fa fa-circle-o fa-lg"> </i>
                <input type="text" v-model="val.Text" />
              </div>
            </div>

            <div v-show="set.Type == 'checkBoxZone'">
              <a role="button" data-toggle="collapse" href="#chkBoxZone">
                <i class="fa fa-lg fa-plus-square-o"></i
                ><i class="fa fa-lg fa-minus-square-o"></i> {{ set.Name }}
              </a>
              <div class="collapse in" id="chkBoxZone">
                <div class="form-group" v-for="op in set.Options" :key="op">
                  <label class="checkbox-inline">
                    <input type="checkbox" v-model="op.Value" />
                    {{ op.Name }}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </aside>
  </div>
</template>
<script setup>
import { computed, ref } from "vue";
import dragElements from "../jsons/dragElements.json";
import formFields from "../jsons/formFields.json";
// import fs from "vite-plugin-fs/browser";
import Sidebar from "../components/sidebar.vue";
const guid = ref(1);
const formField = ref(formFields);
const showJson = ref(false);
function drop(ev) {
  ev.preventDefault();
  console.log(ev.target);
  let data = ev.dataTransfer.getData("templateIdx");
  let data2 = ev.dataTransfer.getData("templateIdx2");
  if (data) {
    addElement(dragElements[data], data);
  } else {
    ev.target.appendChild(document.getElementById(data2));
  }
}
function allowDrop(ev) {
  ev.preventDefault();
}
function onDragging(ev) {
  console.log(ev.target.id);
  ev.dataTransfer.setData("templateIdx2", ev.target.id);
}
const current_field = ref({});

function createNewField() {
  return {
    id: ++guid.value + 10000,
    Name: "",
    Settings: [],
    Active: true,
    ChangeFieldSetting: function (Value, SettingName) {
      switch (SettingName) {
        case "Field Label":
        case "Short Label":
        case "Internal Name":
          current_field.value.Name = Value;
          current_field.value.Settings[0].Value = current_field.value.Name;
          current_field.value.Settings[1].Value = current_field.value.Name;
          current_field.value.Settings[2].Value =
            "x" + current_field.value.Name.replace(/\s/g, "_");
          break;
        default:
          break;
      }
    },
    GetFieldSetting: function (settingName) {
      var result = {};
      var settings = current_field.value.Settings;
      console.log(settings);
      settings.forEach(function (set, index) {
        if (set.Name == settingName) {
          result = set;
          return;
        }
      });
      if (!Object.keys(result).length && settings.length > 1) {
        settings[settings.length - 1].Options.forEach(function (index, set) {
          if (set.Name == settingName) {
            result = set;
            return;
          }
        });
      }
      return result;
    },
  };
}
function addElement(ele, idx) {
  current_field.value.Active = false;
  current_field.value = createNewField();
  Object.assign(current_field.value, ele);
  if (typeof idx == "undefined") {
    formField.value.push(current_field.value);
  } else {
    formField.value.splice(idx, 0, current_field.value);
  }
}
function removeElement(idx) {
  if (formFields[idx].Active) {
    current_field.value = {};
  }
  formFields.splice(idx, 1);
}
function activeField(f) {
  current_field.value.Active = false;
  current_field.value = f;
  f.Active = true;
}
function SaveForm() {
  fs.writeFile("data.json", JSON.stringify(formField.value));
  formField.value = [];
  current_field.value = [];
}
</script>
<style scoped>
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.input-as-label {
  border: none;
  box-shadow: none;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  background-color: transparent;
}
.form-control {
  display: block;
  width: 100%;
  margin-top: 10px;
  height: 34px;
  padding: 6px 12px;
  padding-right: 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-group {
  padding: 10px;
  position: relative;
}
.active-field {
  background-color: #f1fafc;
}
</style>
