<template>
  <div
    class="px-4 py-6 mt-10 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28"
  >
    <div class="sm:text-center lg:text-left">
      <h2
        class="text-4xl font-extrabold leading-10 tracking-tight text-gray-900 sm:text-5xl sm:leading-none md:text-6xl"
      >
        Not found
      </h2>
    </div>
  </div>
</template>
