<template>
  <aside class="w-1/5 bg-gray-500 h-screen p-5" id="draggable">
    <h3 class="mt-8 text-2xl text-white">Elements</h3>
    <div class="elements mt-6">
      <ul class="grid grid-cols-2 gap-3">
        <li
          draggable="true"
          @dragstart="onDragging"
          class="border-2 rounded-md p-2 cursor-pointer font-bold text-white hover:text-gray-800"
          v-for="(el, i) in dragElements"
          :key="i"
          :id="i"
        >
          <div @click="$emit('AddElem', el)">
            {{ el.Name }}
          </div>
        </li>
      </ul>
    </div>
  </aside>
</template>

<script setup>
import dragElements from "../jsons/dragElements.json";
function onDragging(ev) {
  ev.dataTransfer.setData("templateIdx", ev.target.id);
}
</script>

<style>
</style>